absl-py==0.1.9
alabaster==0.7.12
Babel==2.9.0
beautifulsoup4==4.9.3
bleach==1.5.0
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
docutils==0.16
entrypoints==0.2.3
futures==3.1.1
h5py==2.7.1
html5lib==0.9999999
idna==2.10
imageio==2.9.0
imagesize==1.2.0
imgaug==0.4.0
ipykernel==4.8.0
ipyparallel==6.3.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.5
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.4
nose==1.3.7
notebook==5.3.1
numpy==1.17.0
opencv-python==4.4.0.42
packaging==20.7
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
pycocotools==2.0.0
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
pyparsing==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==16.0.4
qtconsole==4.3.1
requests==2.25.0
scikit-image==0.15.0
scikit-learn==0.19.1
scipy==1.0.0
Send2Trash==1.4.2
Shapely==1.7.1
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
urllib3==1.26.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.3
